<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    </head>
    <body>
        <h1 style="text-align: center; padding-top: 30px">Набор данных для анализа личночти клиента</h1>
        <br><h4 style="text-align: center; padding: 2%">{{description_date1}}</h4>
        <div align='center' class='table table-bordered'>{{prim}}</div>
        <h6 style="padding-left: 4%; padding-right: 3%">Количество пустых ячеек = {{count}}</h6>
        <h6 style="padding-left: 4%; padding-right: 3% ">Количество заполненных ячеек = {{countAll}}</h6>
        <h6 style="padding-left: 4%; padding-right: 3% ">Количество строк = {{len_str}}</h6>
        <h6 style="padding-left: 4%; padding-right: 3% ">Количество столбцов = {{len_stl}}</h6>

        <h6 style="padding-left: 4%; padding-right: 3% ">{{description_date2}}</h6>
        <h6 style="padding-left: 4%; padding-right: 3% ">{{description_date3}}</h6><br>
    </body>
</html>